body {
    padding: 0;
    margin: 0;
}

.div {
    width: 20%;
    height: 15%;
    background-color: aliceblue;
    float: left;
    margin-left: 0%;
    text-align: center;
    line-height: 100px;
}

.div1 {
    width: 20%;
    height: 15%;
    background-color: aliceblue;
    float: left;
    margin-left: 0%;
    text-align: center;
    line-height: 100px;
    position: absolute;
    top: 30%;
}